header.canhcam-header-12
	.k-menu-bar.container
		#logo.m-auto
		button.k-button-toggle.navbar-toggler(k-toggle-for="#demoResAllInOneMenu")
			i.mdi.mdi-menu

	//- Start top-bar
	.top-bar.w-100
		.container.d-flex

			//- Start top-bar__left
			ul.top-bar__left.mr-auto(k-menu-map-to="#top-bar__left")
				li
					a(href='#') <i class="mdi mdi-phone"></i> 0165 850 2618
				li
					a(href='#') <i class="fas fa-envelope"></i> admin@tkxdsala.com

			//- Start top-bar__right
			ul.top-bar__right(k-menu-map-to="#top-bar__right")
				li
					a(href='#') 
						em.fab.fa-facebook-f
				li
					a(href='#') 
						em.fab.fa-twitter
				li
					a(href='#') 
						em.fab.fa-google-plus-g
				li
					a(href='#') 
						em.fab.fa-linkedin-in
				li
					a(href='#') 
						em.fab.fa-instagram

	//- Start k-responsive-menu
	#demoResAllInOneMenu.container.k-responsive-menu
		.k-menu-bar
			.k-logo.navbar-brand.mr-auto
				img(src="./img/logo-ang.png", alt="")
			button.k-button-toggle.navbar-toggler(k-toggle-for="#demoResAllInOneMenu")
				i.mdi.mdi-close
		.k-logo.navbar-brand(k-menu-map-to="#logo")
			img(src="./img/singlelogo.png", alt="")

		//- Start mainnav
		.nav.mainnav.ml-auto
			ul.nav
				li.nav-item.active
					a.nav-link(href='#') Home
				li.nav-item
					a.nav-link(href='#') Service
				li.nav-item
					a.nav-link(href='#') Who We Are
				li.nav-item
					a.nav-link(href='#') Pages
				li.nav-item
					a.nav-link(href='#') Our Works
				li.nav-item
					a.nav-link(href='#') Blog
				li.nav-item
					a.nav-link(href='#') Contact Us
			#top-bar__left
			#top-bar__right

