section.canhcam-news-2
	article.news-list
		.container
			.row#products
				- for (x = 2; x < 6; x++)
					.col-sm-6.col-lg-3
						a.item(href="#")
							figure
								img.img-fluid(src="./img/tksala/home_about_0"+x+".jpg", alt="alt")
								figcaption
									h3 Team buiding
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus.
									button(href="#").btn.btn-primary.btn-lg.btn-mario.btn-mario__4 Our history
