section.canhcam-boxes-12
	.container
		.row.gallery-lists
			.col-lg.order-lg-2
				.info 
					.container
						h3 Who We <span class="special">Are</span>
						h4 Leader Lorem ipsum dolor sit
						p.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit optio cumque incidunt eius laborum quos excepturi. Possimus corporis fugit a vitae sed, blanditiis, dolorum voluptates, voluptatibus magnam eos adipisci earum!
						a.btn.btn-primary.btn-lg.btn-mario.btn-mario__3(href="#") Our history
			.col-lg.order-lg-1
				a.item(href="")
					figure
						.boxzoom
							img.img-fluid(src="./img/tksala/home_about_01.jpg", alt="Demo title")
